<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Garantía oficial</h2>
                    <p>6 a 12 meses de garantía dependiendo del producto.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envíos a todo el país</h2>
                    <p>Abonando mediante un pago electrónico. Despachamos en menos de 24hs. Es un
                        beneficio de Arti Puntos.</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad, de principio a fin</h2>
                    <p>La seguridad de nuestros clientes es el núcleo de todo lo que hacemos.</p>
                </article>
            </div>
        </div>
    </div>
</footer>