<!DOCTYPE html>
<html lang="es">
	<!-- include Head -->

	<%- include("./partials/head") %>


	<body>
		
		<!-- /Header -->
		<%- include("./partials/headerLogueado") %>

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Agregar productos</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12"> 
					<form action="/product/productadd" method="POST" class="search-form" >
						<input type="file" name="Imagen" placeholder="Imagen" class="formulario">
						<input type="text" name="Nombre del producto" placeholder="Nombre del producto" class="formulario">
						<input type="text" name="Descripcion" placeholder="Descripción" class="formulario">
						

						<button type="submit" class="enviar">Enviar</i></button>
					</form>

				</h2>
			</div>
		</div>

		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>

</html>