<!DOCTYPE html>
<html lang="es">
	<!-- include Head -->

	<%- include("./partials/head") %>

	<body>
		<!-- Header -->
		<%- include("./partials/headerLogueado") %>

		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Editar mi perfil</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<h2 class="col-12"> 
					<form action="/users/login" method="GET" class="search-form">
						<input type="email" name="Email" placeholder="Email" class="">
						<input type="text" name="Usuario" placeholder="Usuario" class="">
						<input type="password" name="Contraseña" placeholder="Contraseña" class="">
						<input type="date" name="Fecha de nacimiento" placeholder="Fecha de nacimiento" class="">
						<input type="number" name="Nro de documento" placeholder="Nro de documento" class="">
						<input type="text" name="Foto de perfil" placeholder="Foto de perfil" class="">

						<button type="submit" class="">Enviar</button>
				</form>
				</h2>


		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>

</html>