<!DOCTYPE html>
<html lang="es">
	<!-- include Head -->

	<%- include("./partials/head") %>


	<body>
		<!-- Header -->
		<%- include("./partials/header") %>

		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Registrate</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<form action="/users/login" method="GET" class="search-form">
					<input type="email" name="Email" placeholder="Email" class="formulario">
					<input type="text" name="Usuario" placeholder="Usuario" class="formulario">
					<input type="password" name="Contraseña" placeholder="Contraseña" class="formulario">
					<input type="date" name="Fecha de nacimiento" placeholder="Fecha de nacimiento" class="formulario">
					<input type="number" name="Nro de documento" placeholder="Nro de documento" class="formulario">
					<input type="text" name="Foto de perfil" placeholder="Foto de perfil" class="formulario">
					<button type="submit" class="enviar">Enviar</button>
				</form>
			



		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>

</html>