<!DOCTYPE html>
<html lang="es">
	<!-- include Head -->

	<%- include("./partials/head") %>


	<body>
		<!-- Header -->
		<%- include("./partials/header") %>

		<!-- /Header -->

		<!-- Novedades -->
		<div class="container products-wrapper">
			<div class="row">
				<div class="col-12">
					<h2 class="products-title">Registrate</h2>
				</div>
				<!-- Show the "ultimos" products -->
				<form action="/users/register" method="POST" class="search-form">
					<input id="email" type="email" name="email" placeholder="Email" class="formulario">
					<% if (locals.errors && errors.email) { %>
						<p><%= errors.email.msg %></p>
					   <% } %>
					<input id="usuario" type="text" name="name" placeholder="Usuario" class="formulario">
					<input id="contrasenia" type="password" name="contrasenia" placeholder="Contraseña" class="formulario">
					<input id="fechaNacimiento" type="date" name="fechadenacimiento" placeholder="Fecha de nacimiento" class="formulario">
					<input id="numeroDocumento" type="number" name="nrodedocumento" placeholder="Nro de documento" class="formulario">
					<input id="foto" type="text" name="fotodeperfil" placeholder="Foto de perfil" class="formulario">
					<button type="submit" class="enviar">Enviar</button>
				</form>
			</div>
		</div>
			



		<!-- footer -->
		<%- include("./partials/footer") %>

		<!-- /footer -->
	</body>

</html>